*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

// HEADER MENU BURGER//
a{
    list-style: none;
    text-decoration: none;
    color: black;
}

h1{
  color: white;
}

nav{
  @include flex(flex-start,flex-start);
  gap: 40px;
}

#burger {
  width:30px;
  height:2px;
  background:white;
  display:inline-block;
  position:relative;
  transition: all 0.3s ease;
}
#burger::before,
#burger::after {
  content:'';
  width:30px;
  height:2px;
  background:white;
  display:inline-block;
  position:absolute;
 
}
#burger::before {
  top:-7px;
}
#burger::after {
  top:7px;
}

header {
  max-width:auto;
  background-image: url(../images/1253915.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
}
ul {
  background-color: gray;
  color: black;
  width:15%;
  top: 30px;
  padding:10px 0;
  position: absolute;
  animation: navAnimation 1s;
}

@keyframes navAnimation {
  from{
    left: -50%;
  }
  to{
    left:0%,
  }
  
}

ul li {
  padding:10px 0;
  text-align:center;
  color: black;
  text-decoration: none;
  list-style: none;
}

.displayNone{
  display: none;
}





// SECTION AGE//

#age{
  @include flex(center,center,column);
  gap: 10px;
  background-image: url(../images/house-of-the-dragon-game-of-thrones-hbo-series-2022-series-2880x1800-7810.jpg);
  height: 50vh;
  background-position: center;
  background-size: contain;

  h2{
    color: white;
    font-size: 3rem;
  }

  #submit{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color:#81390F;
    font-weight: bold;
    
  }

  #ages{
    height: 20px;
    width: 100px;
    text-align: center;
  }
  label{
    color: white;
  }


}

  .green2{
    color: green;
    font-size: 2rem;
    font-weight: bold;
  }
  .red2{
    color: red;
    font-size: 2rem;
    font-weight: bold;
  }


  // SECTION QUIZ//
  #quiz{
    background-image: url(../images/wallpapersden.com_house-of-the-dragon-hd-season-1_2560x1440.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: auto;
  }

  .panel{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 10px;
    padding: 5px;
    width: 40vw;
    height: 5vh;
    background-color: #555636;
    font-size: 2rem;
    text-align: center;
      
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
      
}
.option-container{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: #555636;   
        
}
.option{    
    padding: 10px;
    width: 10vw;
    height: 10vh;
    font-size: larger;
    background-color: #81390f;
    border-radius: 50%;
}
.option:hover{
    background-color: #a76841;
    border: solid 5px black;
    color: white;
}
.navigation{
    width: 30vw;
    height: 10vh;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    
}
  
.evaluate,.next{
    width:10vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
    border-radius: 20px;
}
.evaluate{
    
    background-color: #BF3325;
}
.next{
    color: white;
    background-color: crimson;
}

.evaluate:hover{
  background-color: black;
  color: white;
  border: 5px solid white;
}

.next:hover{
  background-color: black;
  color: white;
  border: 5px solid white;
}

// QUIZ 2//

#quiz-2{
  @include flex(center,center,column);
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  p{
    border: 2px solid black;
    padding: 20px;
  }
}

.green2{
  color: green;
  font-size: 2rem;
  font-weight: bold;
}
.red2{
  color: red;
  font-size: 2rem;
  font-weight: bold;
}

// TIMEOUT//
#time{
  background-color: #a76841;
  height: 50vh;
  @include flex(center,center,column);
  gap: 40px;

  p{
    font-weight: bold;
    font-size: 3rem;
  }

  button{
    padding: 20px;
    background-color: aquamarine;
    transition: 0.3s ease-in-out;
  }

  button:hover{
    background-color: red;
    font-size: 20px;
    box-shadow: 10px 10px 10px 0px;
    
    
  }

  #boum{
    background-color: aqua;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    @include flex;

  }
  .boite{
    animation-name: boumba;
    animation-duration: 12s;
 
  }

  @keyframes boumba {
    25%{
      border-radius: 50%;
      background-color: blue;
      transform: translate(200px);
  }

  50%{
      border-radius: 0%;
      transform: translate(-200px);
      background-color: aquamarine;           
  }  
  }

  }

  //HEURE//

  .heure{
    width: auto;
    height: 10vh;
    background-color: #878C64;
    @include flex;
    color: black;
    font-size: 2rem;
    button{
      padding: 20px;
      border-radius: 20px;
      background-color: #BF3325;
      color: black;
      font-weight: bolder;
    }
    button:hover{
      background-color: red;
      font-size: 20px;
      box-shadow: 10px 10px 10px 0px;
      
      
    }
  }

  // HORLOGE//

  #horloge{
    height: 50vh;
    background-color: #BF3325;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    @include flex;
    
  }
  
  // CHIFOUMI//
    #chifoumi{
      height: 80vh;
      color: white;

    }

    img{
      height: 150px;
    }

    .perso{
      padding-top: 350px;
      @include flex(space-evenly);
    }
    .perso1{
      @include flex;
      gap: 20px;
    }

    .perso2{
      @include flex;
    
    }

    .bubble1{
      @include flex;
      font-size: 2rem;
    }

    .bubble2{
      @include flex;
      font-size: 2rem;
    }

 
    #talkbubble {
      width: 120px;
      height: 80px;
      background: red;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      position: relative;
    }
    #talkbubble:before {
      content: "";
      position: absolute;
      right: 100%;
      top: 26px;
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-right: 26px solid red;
      border-bottom: 13px solid transparent;
    }

    .res1{
      color: black;
    }

    .res2{
      color: black;
    }

    #btnNumber{
      height: 50px;
      width: 100px;
      background-color: #a76841;
      transition: 0.3s ease-in-out;
    }

    #btnNumber:hover{
      box-shadow: 5px 5px 5px 2px;
      border: 3px solid black;
      font-size: 2rem;
    }

    #score{
      color: black;
      text-align: center;
      font-size: 2rem;
    }

    .winner{
      background-color: greenyellow;
      font-size: 2rem;
    }

    .red{
      background-color: red;
      font-size: 2rem;
    }
    

    //////////////// LES VOITURES///////////////////////////////////////
    #voitures{
     background-color: wheat;
     height: 100vh;
     padding-top: 50px;

     h1{
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
      color: black;
      padding-top: 50px;
     }

     h2{
      color: black;
      font-size: 2rem;
     }
     

    }

    .articleContainer{
      @include flex (center,center,row);
      flex-wrap: wrap;
      padding-top: 50px;
      position: relative;
    
    }

    .article{
      @include flex(center,center,column);
      gap: 20px;
      background-color: gray;
      width: 200px;
      border-radius: 20px;
      margin: 50px;
      padding: 50px;
    }

    .articleBtn{
      padding: 10px;
      border-radius: 20px;
    }

    .articleBtn:hover{
      border: solid 5px black;
    }

  
    .modal{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translatex(-50%);
      background-color:black;
      color: white;
      padding: 50px;
      border-radius: 20px;
      animation: article 1s;
      font-size: large;
      text-align: center;
      
    }

    .displayNoneVoitures{
      display: none;
      
    }

    .displayNoneBouton{
      padding: 5px;
      border-radius: 40px;
    }

    @keyframes article {
      from{
        top: -300%;
      }
      to{
        top:250px,
      }

      //////////////////// DEUXIEME PAGE HTML LOGIN /////////////////////////////////////////
      
    }

    #login{
      height: 100vh;
      background-image: url('/assets/images/vroum.jpg');
      background-position: center;
      background-size: cover;

     .form{
      background-color: grey;
      @include flex(center,center,column);
      gap: 30px;
      width: 200px;
      border-radius: 20px;
      padding: 50px;
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translateX(-50%);
      
      p{
        text-align: center;
        padding-bottom: 5px;
      }

      input{
        padding: 5px;
      }
      
     }


    }

    #erreur{
      color: white;
      
    }

    #wesh{
      color: white;
      font-size: 2rem;
      text-align: center;
    }

    // ADMIN//


  #admin{
    background-image: url("../images/605930.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  #adminBtn{
    @include flex(space-around);
    gap: 30px;
    padding-top: 15px;

    button{
      padding: 10px;
    }
    
 
  }

  #usersAdmin{
    padding-top: 15px;
    text-align: center;
    color: gold;
    font-style: bold;
    @include flex;
  }

  #addUsers{
    padding-top: 15px;
    @include flex(space-around,center,column);
    p{
      text-align: center;
      font-size: 20px;
      color: crimson ;
      font-style: bold;
    }
    input{
      padding: 5px;
    }
  }
  