* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}

h1 {
  color: white;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 40px;
}

#burger {
  width: 30px;
  height: 2px;
  background: white;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}

#burger::before,
#burger::after {
  content: "";
  width: 30px;
  height: 2px;
  background: white;
  display: inline-block;
  position: absolute;
}

#burger::before {
  top: -7px;
}

#burger::after {
  top: 7px;
}

header {
  max-width: auto;
  background-image: url(../images/1253915.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
}

ul {
  background-color: gray;
  color: black;
  width: 15%;
  top: 30px;
  padding: 10px 0;
  position: absolute;
  -webkit-animation: navAnimation 1s;
          animation: navAnimation 1s;
}

@-webkit-keyframes navAnimation {
  from {
    left: -50%;
  }
  to {
    left: 0%;
  }
}

@keyframes navAnimation {
  from {
    left: -50%;
  }
  to {
    left: 0%;
  }
}
ul li {
  padding: 10px 0;
  text-align: center;
  color: black;
  text-decoration: none;
  list-style: none;
}

.displayNone {
  display: none;
}

#age {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-image: url(../images/house-of-the-dragon-game-of-thrones-hbo-series-2022-series-2880x1800-7810.jpg);
  height: 50vh;
  background-position: center;
  background-size: contain;
}
#age h2 {
  color: white;
  font-size: 3rem;
}
#age #submit {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  background-color: #81390F;
  font-weight: bold;
}
#age #ages {
  height: 20px;
  width: 100px;
  text-align: center;
}
#age label {
  color: white;
}

.green2 {
  color: green;
  font-size: 2rem;
  font-weight: bold;
}

.red2 {
  color: red;
  font-size: 2rem;
  font-weight: bold;
}

#quiz {
  background-image: url(../images/wallpapersden.com_house-of-the-dragon-hd-season-1_2560x1440.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: auto;
}

.panel {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-container {
  margin: 10px;
  padding: 5px;
  width: 40vw;
  height: 5vh;
  background-color: #555636;
  font-size: 2rem;
  text-align: center;
}

.result {
  margin: 10px;
  padding: 5px;
  width: 80vw;
  height: 10vh;
  text-align: center;
  font-size: 50px;
}

.option-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 5px;
  width: 80vw;
  height: 20vh;
  background-color: #555636;
}

.option {
  padding: 10px;
  width: 10vw;
  height: 10vh;
  font-size: larger;
  background-color: #81390f;
  border-radius: 50%;
}

.option:hover {
  background-color: #a76841;
  border: solid 5px black;
  color: white;
}

.navigation {
  width: 30vw;
  height: 10vh;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.evaluate, .next {
  width: 10vw;
  height: 8vh;
  padding: 5px;
  font-size: larger;
  border-radius: 20px;
}

.evaluate {
  background-color: #BF3325;
}

.next {
  color: white;
  background-color: crimson;
}

.evaluate:hover {
  background-color: black;
  color: white;
  border: 5px solid white;
}

.next:hover {
  background-color: black;
  color: white;
  border: 5px solid white;
}

#quiz-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#quiz-2 p {
  border: 2px solid black;
  padding: 20px;
}

.green2 {
  color: green;
  font-size: 2rem;
  font-weight: bold;
}

.red2 {
  color: red;
  font-size: 2rem;
  font-weight: bold;
}

#time {
  background-color: #a76841;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
#time p {
  font-weight: bold;
  font-size: 3rem;
}
#time button {
  padding: 20px;
  background-color: aquamarine;
  transition: 0.3s ease-in-out;
}
#time button:hover {
  background-color: red;
  font-size: 20px;
  box-shadow: 10px 10px 10px 0px;
}
#time #boum {
  background-color: aqua;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#time .boite {
  -webkit-animation-name: boumba;
          animation-name: boumba;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}
@-webkit-keyframes boumba {
  25% {
    border-radius: 50%;
    background-color: blue;
    transform: translate(200px);
  }
  50% {
    border-radius: 0%;
    transform: translate(-200px);
    background-color: aquamarine;
  }
}
@keyframes boumba {
  25% {
    border-radius: 50%;
    background-color: blue;
    transform: translate(200px);
  }
  50% {
    border-radius: 0%;
    transform: translate(-200px);
    background-color: aquamarine;
  }
}

.heure {
  width: auto;
  height: 10vh;
  background-color: #878C64;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: black;
  font-size: 2rem;
}
.heure button {
  padding: 20px;
  border-radius: 20px;
  background-color: #BF3325;
  color: black;
  font-weight: bolder;
}
.heure button:hover {
  background-color: red;
  font-size: 20px;
  box-shadow: 10px 10px 10px 0px;
}

#horloge {
  height: 50vh;
  background-color: #BF3325;
  font-size: 2rem;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#chifoumi {
  height: 80vh;
  color: white;
}

img {
  height: 150px;
}

.perso {
  padding-top: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.perso1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.perso2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.bubble1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 2rem;
}

.bubble2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 2rem;
}

#talkbubble {
  width: 120px;
  height: 80px;
  background: red;
  border-radius: 10px;
  position: relative;
}

#talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid red;
  border-bottom: 13px solid transparent;
}

.res1 {
  color: black;
}

.res2 {
  color: black;
}

#btnNumber {
  height: 50px;
  width: 100px;
  background-color: #a76841;
  transition: 0.3s ease-in-out;
}

#btnNumber:hover {
  box-shadow: 5px 5px 5px 2px;
  border: 3px solid black;
  font-size: 2rem;
}

#score {
  color: black;
  text-align: center;
  font-size: 2rem;
}

.winner {
  background-color: greenyellow;
  font-size: 2rem;
}

.red {
  background-color: red;
  font-size: 2rem;
}

#voitures {
  background-color: wheat;
  height: 100vh;
  padding-top: 50px;
}
#voitures h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  padding-top: 50px;
}
#voitures h2 {
  color: black;
  font-size: 2rem;
}

.articleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  position: relative;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: gray;
  width: 200px;
  border-radius: 20px;
  margin: 50px;
  padding: 50px;
}

.articleBtn {
  padding: 10px;
  border-radius: 20px;
}

.articleBtn:hover {
  border: solid 5px black;
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translatex(-50%);
  background-color: black;
  color: white;
  padding: 50px;
  border-radius: 20px;
  -webkit-animation: article 1s;
          animation: article 1s;
  font-size: large;
  text-align: center;
}

.displayNoneVoitures {
  display: none;
}

.displayNoneBouton {
  padding: 5px;
  border-radius: 40px;
}

@-webkit-keyframes article {
  from {
    top: -300%;
  }
  to {
    top: 250px;
  }
}

@keyframes article {
  from {
    top: -300%;
  }
  to {
    top: 250px;
  }
}
#login {
  height: 100vh;
  background-image: url("/assets/images/vroum.jpg");
  background-position: center;
  background-size: cover;
}
#login .form {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 200px;
  border-radius: 20px;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
}
#login .form p {
  text-align: center;
  padding-bottom: 5px;
}
#login .form input {
  padding: 5px;
}

#erreur {
  color: white;
}

#wesh {
  color: white;
  font-size: 2rem;
  text-align: center;
}

#admin {
  background-image: url("../images/605930.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#adminBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding-top: 15px;
}
#adminBtn button {
  padding: 10px;
}

#usersAdmin {
  padding-top: 15px;
  text-align: center;
  color: gold;
  font-style: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#addUsers {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#addUsers p {
  text-align: center;
  font-size: 20px;
  color: crimson;
  font-style: bold;
}
#addUsers input {
  padding: 5px;
}/*# sourceMappingURL=style.css.map */